# Dependencies
node_modules/
docs/
# npm pack output
*.tgz

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Snyk
.dcignore
